<section class="pk-pdd-l-all eao-question-data">
  <p>Aciertos: <span id="{{data-id}}-assertions">0</span></p>
  <p>Número de intentos: <span id="{{data-id}}-submissions">0</span></p>
  <p id="{{data-id}}-info"></p>
</section>

<form id="{{data-id}}" name="{{data-id}}" class="eao-questions">
  <ol id="{{data-id}}-list"></ol>
  <button id="{{data-id}}-button" type="submit" name="button" class="pk-btn pk-btn-m pk-mg-m-all pk-bg-blue500 pk-f-white">Enviar</button>
</form>
