<form id="{{data-id}}" name="{{data-id}}" class="pk-form pk-inl pk-pdd-s-tb">
  <section class="pk-form-group-inl">
    <input id="{{data-id}}-input-email" type="email" placeholder="i.e: usuario@email.com" class="pk-input pk-inl pk-w60 pk-bdr-s-b pk-bdr-blue800 pk-bg-white">
    <button id="{{data-id}}-button" for="{{data-id}}" type="submit" name="button" class="pk-form-btn pk-inl pk-w40 pk-bdr-blue800 pk-bg-pink400 pk-f-white pk-form-group-inl-left">Guardar</button>
  </section>
</form>
<section id="{{data-id}}-info" class="eao-user-email__info eao-info__not-saved">No hay ningún email guardado.</section>
